/* Figma Styles of your File */
:root {
  /* Colors */
  --primary-color: #00a8cd;
  --black: #14181a;
  --secondary-color: #87e9fe;

  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
.img{
position:top left;
}